@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Lato&family=Libre+Franklin&family=Ubuntu&display=swap');

:root {

    --font-color: #f2f2f2;
    --color1: #bf5056;
    --color2: #59253E;
    --color3: #111626;
    --color4: #F2B199;
    --color5: #D97777;
}


html {
    font-family: 'Ubuntu', Courier, monospace;
    color: var(--color3);
}

body {
    background-color: var(--color1);
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1%;
}

body h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

body h1 img {
    height: 40px;
    width: auto;
}

#calc-container {
    background-color: var(--color3);
    min-height: fit-content;
    height: 600px;
    max-height: max-content;
    width: 450px;  
    align-self: center;

    gap: 2rem;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-bottom: 4rem;

    box-shadow: 4px 3px 2px 2px rgba(0, 0, 0, 0.4);
}

#calc-container #screen{
    font-size: 4em;
    border-radius: 1rem;

    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    background-color: var(--font-color);
    text-align: end;
    overflow: scroll;
}

.btn-container {
    display: grid;
    grid-template: repeat(5,1fr) / repeat(4,1fr);
    height: 80%;
    grid-gap: 1rem;
    border-top: 3px solid #303440;
    padding: 1rem;
}

.btn-container button {
    font-size: 2rem;
    border-radius: 2rem;
    height: 80%;
    text-align: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    position: fixed;
    width: 100vw;
    padding: 6px 0;
    gap: 1em;

    font-size: 1rem;
    background-color: var(--color3);
}

footer img {
    height: 2rem;
}

footer a {
    text-decoration: none;
    color: whitesmoke;
}